langchain==0.1.16
langchain-community==0.0.34
langchain-groq==0.1.3
langchain-huggingface==0.0.3
streamlit
streamlit_chat
python-dotenv
pdf2image
tiktoken
PyPDF2
faiss-cpu
python-docx
docx2txt
pillow
pytesseract
transformers
sentence-transformers
